POSTGRES_DB=ecdat
POSTGRES_USER=ecdat_user
POSTGRES_PASSWORD=replace-with-a-long-random-value
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=replace-with-a-long-random-value
ECDAT_SECRET_KEY=replace-with-at-least-32-random-bytes
ECDAT_CORS_ORIGINS=https://ecdat.example.com
ECDAT_SEED_DEMO=false
ECDAT_DOCKER_ENABLED=false
ECDAT_HTTP_PORT=8080
